extends ../layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h3= title

    .row
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Image
                    th(scope='col') Email
                    th(scope='col') Role
                    th(scope='col') Products Page
                tbody
                    each user, index in users
                        tr
                            th(scope='row')=index+1
                            td
                                if user.profile.picture
                                    img(src=user.profile.picture)
                                else
                                    img(src=user.gravatar(60))
                            td=user.email
                            td=user.role
                            td
                                a(href='/'+user._id) Products Page
