extends ../layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h3= title
    a.btn.btn-primary   (href='create-user') Create user
    .row
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Image
                    th(scope='col') Email
                    th(scope='col') Role
                    th(scope='col') Products Page
                tbody
                    each userIterated, index in users
                        tr
                            th(scope='row')=index+1
                            td
                                if userIterated.profile.picture
                                    img(src=userIterated.profile.picture)
                                else
                                    img(src=userIterated.gravatar(60))
                            td=userIterated.email
                            td=userIterated.role
                            //td
                            //    select.change-user-role(value=userIterated.role, id=userIterated._id)
                            //        -
                            //            var roles = ['User', 'Admin', 'Researcher']
                            //        each role in roles
                            //            option(selected=role.toLowerCase() === userIterated.role)=role
                            td
                                a(href='/users/'+userIterated._id+ '/products') Products Page
