extends ../layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h3= title
    .row
        .col-md-12
            form(method='POST', action='/products', enctype='multipart/form-data')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group.row
                    label.col-sm-3.col-md-3.col-form-label.font-weight-bold.text-right(for='title') Product name
                    .col-sm-9.col-md-7
                        input.form-control(type='text', name='name', id='name', required)
                .form-group.row
                    label.col-sm-3.col-md-3.col-form-label.font-weight-bold.text-right(for='title') Product title
                    .col-sm-9.col-md-7
                        input.form-control(type='text', name='title', id='title', required)
                .form-group.row
                    label.col-sm-3.col-md-3.col-form-label.font-weight-bold.text-right(for='choice') Sansavvy Choice
                    input.form-control.sansChoice(type='checkbox', name='choice', id='choice')
                .listWrap.justify-content-center
                    - var n = 1;
                    while n < 7
                        .form-group.row
                            label.col-sm-3.col-md-3.col-form-label.font-weight-bold.text-right Product feature: #{n++}
                            .col-sm-9.col-md-9
                                input.form-control(type='text', name='features', required)
                .form-group.row
                    label.col-sm-3.col-md-3.col-form-label.font-weight-bold.text-right(for='price') Product price
                    .col-sm-9.col-md-7
                        input.form-control(type='number', min=0 name='price', id='price', required)
                label.col-sm-3.col-md-3.col-form-label.font-weight-bold.text-right(for='rating') Rating
                select(name='rating' id='rating')
                    option 0
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                span.fa.fa-star
                .form-group.row
                    label.col-sm-3.col-md-3.col-form-label.font-weight-bold.text-right(for='link') Product link
                    .col-sm-9.col-md-7
                        input.form-control(type='text', name='link', id='link', required)
                .form-group.row
                    label.col-sm-3.col-md-3.col-form-label.font-weight-bold.text-right(for='imgInp') Product image
                    .col-sm-9.col-md-7
                        .file-form-wrap
                            .file-upload
                                label
                                    input(id="imgInp" type="file" name="product-image" accept=".png, .jpg, .jpeg" required)
                                    span Choose file
                                div
                                    img.preview-image
                        //input.form-control(type='file', name='product-image', id='image', accept=".png, .jpg, .jpeg", required)
                .form-group.row.justify-content-center
                    each category in categories
                        label.col-sm-2.col-md-2.col-form-label.font-weight-bold.text-right(for=category._id)=category.name
                            input(type='checkbox', name='categories' value=category._id id=category._id)
                .form-group.offset-lg-4.col-md-4.pl-2.row
                    button.btn.btn-success(type='submit')
                        i.fas.fa-plus.fa-sm
                        | Create
                    button.btn.btn-secondary.ml-auto(type='button', data-toggle='modal', data-target='#product-review-modal')
                        i.fas.fa-eye.fa-sm
                        | Preview
        // Modal
        #product-review-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalCenterTitle.modal-title Product preview
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        - var product = {features: [], choice: true}
                        include product
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close