extends ../layout

block content
    .pb-2.mt-2.mb-4.border-bottom
        h3= title
    .row
        .col-md-12
            form(method='POST', action='/products', enctype='multipart/form-data')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='title') Product name
                    .col-md-7
                        input.form-control(type='text', name='name', id='name', required)
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='title') Product title
                    .col-md-7
                        input.form-control(type='text', name='title', id='title', required)
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='choice') Sansavvy Choice
                    .col-md-7
                        input(type='checkbox', name='choice', id='choice')
                - var n = 1;
                while n < 7
                    .form-group.row
                        label.col-md-3.col-form-label.font-weight-bold.text-right Product feature: #{n++}
                        .col-md-7
                            input.form-control(type='text', name='features', required)
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='price') Product price
                    .col-md-7
                        input.form-control(type='number', name='price', id='price', required)
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='rating') Rating
                select(name='rating' id='rating')
                    option 0
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                span.fa.fa-star
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='link') Product link
                    .col-md-7
                        input.form-control(type='text', name='link', id='link', required)
                .form-group.row
                    label.col-md-3.col-form-label.font-weight-bold.text-right(for='image') Product image
                    .col-md-7
                        .file-form-wrap
                            .file-upload
                                label
                                    input(id="image" type="file" name="product-image" onchange="getFileParam();" accept=".png, .jpg, .jpeg" required)
                                    span Choose file
                                div(id="preview1") &nbsp;
                        //input.form-control(type='file', name='product-image', id='image', accept=".png, .jpg, .jpeg", required)
                .form-group.row
                    each category in categories
                        label.col-md-2.col-form-label.font-weight-bold.text-right(for=category._id)=category.name
                            input(type='checkbox', name='category' value=category._id id=category._id)
                .form-group.offset-sm-4.col-md-4.pl-2
                    button.btn.btn-success(type='submit')
                        i.fas.fa-plus.fa-sm
                        | Create
