div.link.cartWrap
    .card.mb-3(data-id=product._id)
        if (product.choice)
            img.bestProduct(src='/img/best_choice-new.png', height='40px', width='150px')
        img.preview-image(src=product.image, max-width='100%')
        if(controls)
            .btn-group.product-actions
                button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Action
                .dropdown-menu
                    unless(publish)
                        a.dropdown-item(href='/products/' + product._id) Edit

                    if (importBtn)
                        a.dropdown-item(onclick='deleteProduct('+ JSON.stringify(product._id)+')') Import
                    if(publish)
                        .publishable-btn
                            if product.published
                                a.dropdown-item(href='/products/'+product._id+'/unpublish', role='button') Unpublish
                            else
                                a.dropdown-item(href='/products/'+product._id+'/publish', role='button') Publish
                        a.dropdown-item(onclick='exportProduct('+ JSON.stringify(product._id)+')') Delete
                    else
                        a.dropdown-item(onclick='deleteProduct('+ JSON.stringify(product._id)+')') Delete
        p.name.text-white.p-1= product.name
        .card-body
            p.title= product.title
            ul.features
                each item in product.features
                    li.feature= item
            span.price= '$' +product.price
            span.rating
                - var n = 0;
                    while n++ < 5
                        if product.rating < n
                            span.fa.fa-star
                        else
                            span.fa.fa-star.checked
            a.link(href=product.link)
                img.checkOut(width='100px', height='20px', src="/img/checkout.png")
            if(product.rating === 5)
                img#image-modal(src='/img/save.png', height='20px', max-width='100%')
            .social
                a.link(href='https://www.facebook.com/sharer/sharer.php?u='+product.link, target='_blank')
                    img(src='/img/facebook.png', height='30px', max-width='100%')
                a.link(href='instagram.com/', target='_blank')
                    img(src='/img/instagram.png', height='30px', max-width='100%')
                a.link(href='https://twitter.com/home?status='+product.link, target='_blank')
                    img(src='/img/twitter.png', height='30px', max-width='100%')
                a.link(href='https://pinterest.com/pin/create/button/?url='+product.link+'&media=&description='+product.title, target='_blank')
                    img(src='/img/pinterest.png', height='30px', max-width='100%')
