div.link.cartWrap
    .card.mb-3
        if (product.choice)
            img.bestProduct(src='/img/best_choice-new.png', height='40px', width='150px')
        img.preview-image(src=product.image, max-width='100%')
        //.btn-group
        //    button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        //        | Action
        //    .dropdown-menu
        //        a.dropdown-item(href='#') Action
        //        a.dropdown-item(href='#') Another action
        //        a.dropdown-item(href='#') Something else here
        //        .dropdown-divider
        //        a.dropdown-item(href='#') Separated link
        p.name.text-white.p-1= product.name
        .card-body
            p.title= product.title
            ul.features
                each item in product.features
                    li.feature= item
            span.price $#{product.price}
            span.rating
                - var n = 0;
                    while n++ < 5
                        if product.rating < n
                            span.fa.fa-star
                        else
                            span.fa.fa-star.checked
            a.link(href=product.link)
                img.checkOut(width='100px', height='20px', src="/img/checkout.png")
            if(product.rating === 5)
                img#image-modal(src='/img/save.png', height='20px', max-width='100%')
